@use "../../index.scss" as mixin;
.home {
  padding: 52px 0 0;
  background-color: var(--secondary-color);

  padding-top: 163px;
  @media screen and (max-width: 730px) {
    padding-top: 120px;
  }
  .container {
    @include mixin.flex-box(row, stretch, space-between, 0);
  }
  &__title {
    max-width: 735px;
    color: var(--primary-color, #01384d);
    font-size: 90px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    line-height: 105px;
    margin-bottom: 50px;
  }
  button {
    margin-bottom: 100px;
  }
  &__left {
    padding-bottom: 68px;
  }
  &__main {
    display: none;
    width: 100%;
  }
  &__right {
    position: relative;
    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      content: "";
      width: 705px;
      height: 380px;
      background-image: url("../../assets/images/home/home-main.png");
    }
  }
}
.features {
  padding: 80px 0 20px;
  &__list {
    width: 100%;
    @include mixin.flex-box(row, center, space-between, 0);
    &--item {
      h3 {
        color: var(--primary-color, #01384d);
        text-align: center;
        font-size: 120px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      p {
        color: var(--primary-color, #01384d);
        text-align: center;
        font-size: 20px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
.catalog {
  padding: 20px 0 20px;
  &__title {
    padding-top: 60px;
    margin-bottom: 64px;
  }
  &__tab {
    &--list {
      width: 100%;
      overflow-x: scroll;
      @include mixin.flex-box(row, center, space-between, 0);
      border-bottom: 1px solid var(--primary-color);
      &--item {
        padding: 13px 32px;
        color: var(--title-color, #01384d);
        text-align: center;
        font-size: 16px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
        border-bottom: 4px solid transparent;
        transition: 0.3s;
        &:hover {
          border-radius: 5px;
          background: rgba(1, 56, 77, 0.1);
        }
      }
      .active {
        font-weight: 700;
        border-bottom: 4px solid var(--primary-color);
      }
    }
    &--panel {
      padding-top: 54px;
      @include mixin.flex-box(column, center, start, 20px);
    }
  }
}
.stock {
  padding-top: 80px;
  &__title {
    margin-bottom: 60px;
    @media screen and (max-width: 730px) {
      margin-bottom: 40px;
    }
  }
  &--list {
    gap: 20px;
    @include mixin.flex-box(column, center, start, 20px);
  }
}
.technologies {
  padding: 120px 0 40px;
  &--card {
    width: 100%;
    &--title {
      color: var(--primary-color, #01384d);
      text-align: center;
      font-size: 30px;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 25px;
    }
    &--video {
      position: relative;
      width: 100%;
      height: 300px;
      border-radius: 10px;
      border: 3px solid var(--primary-color, #01384d);
      margin-bottom: 30px;
    }
    &--btn {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &--description {
      padding: 0 20px;
      color: var(--primary-color, #01384d);
      text-align: center;
      font-size: 18px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 300;
      line-height: 26px;
    }
  }
}
.about {
  padding: 120px 0 20px;
  * {
    text-align: left !important;
  }
  &__title {
    margin-bottom: 30px;
    max-width: 599px;
  }
  &__content {
    color: var(--primary-color, #01384d);
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 26px !important;
    margin-bottom: 20px;
  }
  &__list {
    @include mixin.flex-box(column, start, center, 14px);
    list-style-position: inside;
    padding: 30px;
    border-radius: 8px;
    border: 2px solid var(--primary-color, #01384d);
    background: #eabf9f;
    &--unordered {
      list-style-type: disc;
    }
    &--ordered {
      margin-bottom: 10px;
    }
    &--item {
      color: var(--primary-color, #01384d);
      font-size: 16px;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &__top {
    @include mixin.flex-box(row, stretch, space-between, 20px);
    margin-bottom: 80px;
    &--left {
      max-width: 609px;
    }
    &--right {
      width: 625px;
      position: relative;
    }
  }
  &__video {
    width: 100%;
    max-height: 401px;
    border: 1px solid var(--primary-color, #01384d);
    &--btn {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__bottom {
    @include mixin.flex-box(row, stretch, space-between, 20px);
    &--left {
      max-width: 625px;
      img {
        width: 100%;
      }
    }
    &--right {
      max-width: 568px;
    }
  }
}
.advantages {
  padding: 100px 0 20px;
  &__title {
    margin-bottom: 60px;
  }
  &__row {
    @include mixin.flex-box(row, stretch, space-between, 34px);
    &--item {
      position: relative;
      width: calc(100% / 3 - 68px / 3);
      padding-bottom: 76px;
      border-radius: 5px;
      border: 2px solid var(--primary-color, #01384d);
      background: #fff;
      @include mixin.flex-box(column, center, start, 0px);
      &:nth-child(2) {
        &::after {
          position: absolute;
          bottom: 20px;
          content: "+998 97 144-24-42";
          color: var(--title-color, #01384d);
          text-align: center;
          font-size: 18px;
          font-family: "Raleway";
          font-style: normal;
          font-weight: 600;
          line-height: 25px;
          text-decoration-line: underline;
        }
      }
      img {
        width: 100%;
        border: 2px solid var(--primary-color, #01384d);
        border-bottom: 0;
        border-radius: 3px 3px 0px 0px;
      }
      div {
        color: var(--primary-color, #01384d);
        text-align: center;
        font-size: 24px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 60px;
        margin-bottom: 25px;
      }
      p {
        max-width: 352px;
        padding: 0 10px;
        color: var(--primary-color, #01384d);
        text-align: center;
        font-size: 18px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
      }
    }
  }
}
.address {
  position: relative;
  padding: 100px 0 90px;
  text-align-last: left !important;
  .container {
    @include mixin.flex-box(row, center, space-between, 0);
  }
  &__title {
    margin-bottom: 50px;
  }
  &--location {
    color: var(--primary-color, #01384d);
    font-size: 30px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
  }
  &--destination {
    max-width: 470px;
    margin-bottom: 45px;
  }
  &__left {
    &--img {
      display: none;
    }
  }
  &__right {
    img {
      width: 100%;
    }
  }
}
.contact {
  padding: 110px 0;
  background: var(--secondary-color, #eabf9f);
  * {
    text-align: left !important;
  }
  .container {
    @include mixin.flex-box(row, center, space-between, 0);
  }
  .form {
    @include mixin.flex-box(row, center, space-between, 15px);
    &__input {
      width: 420px;
      flex-grow: 1;
      border-radius: 5px;
      background: #fff;
      padding: 21px;
      input{padding: 0 10px;}
      @media screen and (max-width: 1200px) {
        width: 300px;
      }
      input,
      span {
        color: var(--primary-color);
        font-size: 16px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    button {
      padding: 20px 80px;
      border-radius: 5px;
      background: var(--primary-color, #01384d);
      color: #fff;
      font-size: 18px;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}
@media screen and (max-width: 1000px) {
  .home {
    .container {
      flex-wrap: wrap;
    }
    &__left {
      width: 100%;
    }
    &__right {
      width: 100%;
      height: 380px;
      &::after {
        width: 100%;
        bottom: 10px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
    &__title {
      max-width: 100%;
      font-size: 80px;
    }
    button {
      margin-bottom: 70px;
    }
    &__left {
      padding-bottom: 58px;
    }
  }
  .catalog {
    padding: 20px 0;
    &__title {
      margin-bottom: 44px;
    }
    &__tab {
      &--panel {
        padding-top: 34px;
      }
    }
  }
  .about {
    &__title {
      max-width: 100%;
    }
    &__top,
    &__bottom {
      flex-direction: column;
      &--left,
      &--right {
        max-width: 100%;
        width: 100%;
      }
    }
    &__bottom {
      flex-direction: column-reverse;
    }
  }
  .address {
    &__title {
      order: 0;
    }
    &__right {
      display: none;
    }
    &__left--img {
      display: flex;
      margin-bottom: 25px;
      width: 100%;
    }
    .container {
      flex-wrap: wrap;
      flex-direction: row-reverse;
      gap: 30px;
    }
    &__left,
    &__right {
      max-width: 100%;
      width: 100%;
    }
    &--destination {
      max-width: 100%;
    }
  }
  .contact {
    .container {
      flex-wrap: wrap;
    }
    &__left,
    &__right {
      width: 100%;
    }
    .form {
      margin-top: 47px;
      flex-wrap: wrap;
      &__input,
      button {
        width: 100%;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
@media screen and (max-width: 860px) {
  .catalog {
    &__tab {
      &--panel {
        padding-top: 50px;
      }
    }
  }
  .advantages {
    &__row {
      flex-wrap: wrap;
      &--item {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 730px) {
  .home {
    &__main {
      display: flex;
      margin-bottom: 40px;
    }
    &__right {
      display: none;
    }
    &__title {
      max-width: 100%;
      font-size: 60px;
      line-height: normal;
    }
    button {
      margin-bottom: 50px;
    }
    &__left {
      padding-bottom: 48px;
    }
  }
  .features {
    &__list {
      flex-wrap: wrap;
      &--item {
        width: 50%;
        h3 {
          font-size: 60px;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .home {
    &__title {
      max-width: 100%;
      font-size: 41px;
      line-height: normal;
      margin-bottom: 40px;
    }
  }
  .features {
    &__list {
      &--item {
        width: 50%;
        h3 {
          font-size: 50px;
          line-height: normal;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  .catalog {
    .container {
      padding: 0;
    }
  }
  .advantages {
    &__row {
      &--item {
        p {
          font-size: 14px;
        }
      }
    }
  }
  .address {
    button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .contact {
    .form {
      &__input {
        padding: 15px;
      }
      button{
        padding: 13px 30px;
        font-size: 14px;
      }
    }
    &__text {
      font-size: 13px !important;
    }
  }
}
