.order {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background: #00000080;
  backdrop-filter: blur(10px);
  display: none;
  //   display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  &__form {
    position: relative;
    padding: 40px;
    border: 1px solid #c7dff5;
    background: #f6fbff;
    width: 440px;
    @media screen and (max-width: 576px) {
      padding: 15px;
    }
    &--title {
      color: var(--primary-color, #01384d);
      font-family: "Raleway";
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 40px;
    }
    &--label {
      color: var(--primary-color, #01384d);
      font-family: "Raleway";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    input,
    select {
      color: var(--primary-color, #01384d);
      font-family: "Raleway";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &--name,
    &--number,
    &--select {
      padding: 20px;
      border-radius: 5px;
      border: 2px solid var(--primary-color, #01384d);
      background: #fff;
    }
    &--name {
      width: 100%;

      margin-bottom: 25px;
    }
    &--number {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin-bottom: 45px;
      span {
        font-family: "Raleway";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 20px;
        background-color: var(--primary-color);
        color: var(--color-7);
      }
      input {
        flex-grow: 1;
        height: 100%;
        padding: 0 20px;
        color: var(--primary-color, #01384d);
        font-family: "Raleway";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    &--category {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      label {
        margin-bottom: 15px;
      }
      select {
        width: 100%;
      }
    }
    &--count {
      button,
      div {
        color: var(--primary-color, #01384d);
        font-family: "Raleway";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: var(--color-5);
      }
    }
    &--group {
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 2px solid var(--primary-color, #01384d);
      background-color: var(--color-5);
      margin-bottom: 50px;
      margin-top: 15px;
    }
    &--amount {
      flex-grow: 1;
      height: 100%;
      text-align: center;
    }
    &--btn {
      padding: 16px 35px;
      border-left: 2px solid var(--primary-color, #01384d);
      border-right: 2px solid var(--primary-color, #01384d);
    }
  }
  &__btn {
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--color-5);
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: var(--primary-color, #01384d);
  }
  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
